.adoptionAnimalDetailContainer{
    width: 50vw;
    height: 35vh;
    margin-top: 10vh;
    padding : 3vh;
    background-color: white;
    margin-left: 40vw;
    border-radius: 10px;
    
}

.singleMarkerMapContainer{
    width: 38vw;
    height: 50vh;
    margin-top: 2vh;
    float: left;
}

.markersMap{
    width: 100%;
    height: 100%;
    
}
