.addLocation-modal-body{
    width:100%;
    background-color: white;
    height: 70vh;
}
.addLocation-modal-footer{
    width:100%;
    background-color: #2E4158;
    position: absolute;
}

.addLocation-modal-container{
    width: 83vw;
    height: 100vh;
    position:absolute;
    z-index: 2;
    margin-top: 50vh;
    margin-left: 5vw;
}

.lostAnimal-modal-container{
    width: 50vw;
    height: 10vh;
    position:absolute;
    z-index: 2;
    margin-top: 20vh;
    margin-left: 20vw;
}

.lostAnimal-modal-body{
    width:100%;
    background-color: white;
    height: 30vh;
    padding: 2vh;
}



.lostAnimal-modal-footer{
    width: 100%;
    margin-top: 0px;
    background-color: #2E4158;
    position: absolute;
}

.overlayActive{
width: 94%;
height: 310vh;
background-color: black;
z-index : 1;
position: absolute;
opacity: 0.5;
}

.marker-modal-text{
    width:62%;
    height: 25vh;
    margin-left: 30vw;

}

.marker-modal-image{
    float: left;
    width: 35%;
    height: 20vh;

}

.lostAnimalDetailContainer{
    width: 50vw;
    height: 25vh;
    margin-top: 14vh;
    margin-left: 40vw;
    padding : 3vh;
    background-color: #D8F6F6;
    
}

.label{
    font-weight: bold;
    font-size: 2vh;
    width: 20vw;
    height: 5vh;
}

.value{
    width:20vw;
}

.singleMarkerMapContainer{
    width: 38vw;
    height: 50vh;
    margin-top: 2vh;
    float: left;
}

.markersMap{
    width: 100%;
    height: 100%;
    
}
