.picture{
    display: inline;
   float: left;
    padding: 0px;
    


}
.texts{
    
   
    margin-left: 10%;
    float: left;

}

.cardBody{
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
}

.buttons{
    
    display: block;
    position: relative;
    margin-left: 50%;

}