Label {
    font-weight: bold;

}

.file64Label{
    font-weight: bold;
}



.previousNextButtons{
    margin-top: 2vh;
}

.nextButton{
    float: right;
    display: block;
}

.previousButton{
display: block;
float: left;
}